.Detail {

    max-width: 700px;
    background-color: white;
    
}

.Detail .title {
    text-align: center;
}

.Detail .title img {
    width: 100%;
}

.Detail .ingredient-card-stage {
    text-align: center;
}