.IngredientCard {

    font-family: sans-serif;
    margin: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
    display: inline-block;
    width: 175px;
    /* height: 175px; */

}

.IngredientCard a {

    color: black;
    text-decoration: none;
    /* margin-bottom: 5px; */

}

.IngredientCard a:hover {
    text-decoration: underline;
}

/* .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingredient-text {
    max-height: 10%;
} */

.ingredient-image {

    max-width: 70%;

}

.ingredient-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}