.image-circle {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    border-radius: 50%; /* Creates a circle */
    overflow: hidden; /* Hides overflow */
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-circle img {
    width: 120%; /* Fill the circle */
    height: 120%; /* Fill the circle */
    object-fit: cover; /* Crop image to fit */
}