/* .Card.PreviewCard {
    margin: 15px;
    display: inline-block;
    width: 300px;
    min-height: 400px;
    text-align: center;
}

.PreviewCard h2 {

    text-decoration: none;
    color: green;
    margin-bottom: 20px;
    
}

.title-link:hover {
    color: darkgreen;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-circle {

    margin: 10px;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-circle img {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.button-space {

    margin-top: 10px;

} */

.Card.PreviewCard {

    /* margin: 15px; */
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    /* text-align: center; */

}

.image-circle{

    width: 200px;
    height: 200px;

    overflow: hidden;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.PreviewCard h2 {

    text-decoration: none;
    color: green;
    margin-bottom: 20px;
    
}

.title-link:hover {

    color: darkgreen;

}